<div class="sidebar" [class.collapsed]="collapsed"> 

  <ul class="nav flex-column mt-3">
    <li class="nav-item" routerLinkActive="active">
      <a routerLink="/characters" class="nav-link">
        <i class="bi bi-person-badge"></i>
        <span *ngIf="!collapsed">Characters</span>
      </a>
    </li>

    <li class="nav-item" routerLinkActive="active">
      <a routerLink="/locations" class="nav-link">
        <i class="bi bi-geo-alt"></i>
        <span *ngIf="!collapsed">Locations</span>
      </a>
    </li>

    <li class="nav-item" routerLinkActive="active">
      <a routerLink="/episodes" class="nav-link">
        <i class="bi bi-camera-reels"></i>
        <span *ngIf="!collapsed">Episodes</span>
      </a>
    </li>
  </ul>
</div>
